body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  padding: 20px;
  background-color: white
}

.cmd-tbl {
  display: grid;
  border: 1px solid black;
  width: 100%;
  grid-template-columns: 170px 180px 1fr;
  grid-template-rows: repeat(3, min-content);
}

.grid-head-blue {
  background-color: aqua;
}

.tbl-span3 {
  grid-column: span 3;
}

.grid-cell-cnt, .grid-cell-lft {
  border: 1px solid black;
}

.grid-cell-cnt {
  text-align: center;
}

.grid-cell-lft {
  text-align: left;
  padding: 5px;
}